<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Framework Design Concepts Suite">
    <test name="Reusable Framework Tests">
        <classes>
            <class name="com.techlambda.selenium.frameworkdesign.tests.FrameworkDesignConceptsTest"/>
        </classes>
    </test>
</suite>