.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  flex: 1 1 200px;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user {
  display: flex;
  gap: 10px;
}
