# Java / Maven
target/
*.class

# Node
node_modules/
dist/

# IDE
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test reports
test-output/
surefire-reports/
screenshots/
reports/

# Environment files
.env
